body{
font-family: 'Roboto',sans-serif;
background-color: #ffffff;
font-size: 16px;
letter-spacing: 0.03em;
color: #757575;
}
a{
    text-decoration: none;
}

.list{
    list-style: none;
}

.logo-color{
    color:#2196F3 ;
}

.header-logo{
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: #000000;
    letter-spacing: 0.03em;
}

.header-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    }

.header-link:hover,
.header-link:focus{
    color: #2196F3;
}
.contact-link{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;
}

.contact-link:hover,
.contact-link:focus {
    color: #2196F3
}

.hero{
    background: #2F303A;
}
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.hero-btn {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    background: #2196F3;
    text-align: center;
    cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus{
background: #188CE8;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}


.hang-title {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.hang-pre-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.hang-text {
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}


.gallery-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.specialists-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;}

.specialists-pre-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.specialists-position {
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
}

.footer {
    background-color: #2F303A;
}

.footer-logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-address{
    font-style: normal;
    text-decoration: none;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.footer-link{
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}
.footer-link:hover,
.footer-link:focus{
    color: #2196F3;
}


.works-btn{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}
.works-btn:hover,
.works-btn:focus{
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #2196F3;

}

.works-btn:active{
    cursor: pointer;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background-color: #2196F3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
.work-titles{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}
.work-titles-about{
    line-height: 1.88;
    letter-spacing: 0.03em;
}
